$black: #020607;
$off-white: #f0f0f0;
$white: #ffffff;

$grey: #888888;
$grey-light: #dcdcd7;
$grey-dark: #5e5e5e;

$yellow: #ffcc00;
$yellow-light: #fddb92;
$yellow-50: rgba($yellow, 0.5);
$yellow-30: rgba($yellow, 0.3);
$yellow-10: rgba($yellow, 0.1);
$yellow-hover: #0b272a;

$red: #d64545;
$red-30: rgba($red, 0.3);
$red-10: rgba($red, 0.1);
$red-dark: #760f18;
$red-deep: #190b0f;

// ------------------
// PRIMARY COLORS
// ------------------

$alert-light2: #fe48698a;
$alert-light: #f0879a;
$alert-dark: #bd4359;

$confirm-light: #8cd280;
$confirm-medium: #82c078;
$confirm-dark: #4a973ec9;

// Warm cream to soft tan
$primary-black: #1a1a1a; // Deep charcoal used in the sidebar and Attendance card
$text-main: #333333; // Standard dark gray for text

$input-primary: #f4f4f4;
