@use "@styles/variables";
@use "@styles/colors";

.container {
  :global {
    .ant-switch {
      background-color: colors.$grey-light;
      min-width: 52px;
      height: 28px;

      &:focus {
        box-shadow: none;
      }

      &:hover:not(.ant-switch-disabled) {
        background-color: colors.$grey;
      }

      &.ant-switch-checked {
        background-color: colors.$black;

        &:hover:not(.ant-switch-disabled) {
          background-color: colors.$grey-dark;
        }
      }

      .ant-switch-handle {
        width: 22px;
        height: 22px;
        top: 3px;
        inset-inline-start: 3px;

        &::before {
          border-radius: 50%;
        }
      }

      &.ant-switch-checked .ant-switch-handle {
        inset-inline-start: calc(100% - 25px);
      }

      &.ant-switch-disabled {
        opacity: 0.5;
      }
    }
  }
}
